<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    I have 2 years of experience as a software engineer, and have enjoyed working at a few small startups in that time. At these startups I worked almost exclusively as an Android engineer, being the head of development at two of the three projects I've been
                    a major part of. In this time, I also gained invaluable information regarding AWS functionality, the potential cloud computing has, and the best ways to incorporate cloud computing without hindering application performance.
                </p>
                <p>
                    I enjoy building things from the ground up and watching them grow into a fully fledged, functioning product that can be utilized to its fullest potential. I'm a proficient developer that learns fast and can jump on board immediately without much help,
                    or slowing down of others. I'm a problem solver by nature and love to use this to my advantage and tackle problems head on, and formulate the most efficient ways possible to do so.
                </p>
            </div>
            <div class="col-sm-6">
                <h3 style="margin-top:0;">Highlights</h3>
                <ul>
                    <li>
                        Interfaced Android devices with outside hardware via USB tethering to create a local mesh network of devices that otherwise would not be able to interact
                    </li>
                    <li>
                        Created custom objects and data structures to encapsulate data from other devices on the custom network to optimize functionality and connectivity
                        <li>
                            General optimizations of multithreaded programs on the Android platform that outperformed its desktop counterpart soon after implementation
                            <li>
                                Developed an application utilizing custom drawing and painting features from bitmap and byte stream data depicting incoming audio on a frequency spectrum
                            </li>
                            <li>
                                Connected an Android application to a complex neural network backend that uses Amazon's Rekognition to link similar photos
                            </li>
                </ul>
            </div>
        </div>
    </div>
</section>