<section class="tout" id="interests">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    My personal interests include:
                </p>
                <ul>
                    <li>
                        <b>Device Interconnectivity</b>. I thoroughly enjoy intertwining smartphone devices with other aspects of the tech world people never thought possible. With the power inside today's smartphones, people can accomplish tasks that
                        were before only possible on powerful desktop computers.
                    </li>
                    <li>
                        <b>Computer Hardware</b>. I've always had an interest in computers and the hardware that makes them tick, but just recently I've been experimenting more with fixing and building different systems to learn about their strengths
                        and weaknesses. Raspberry Pis are great for this and allow me to explore so many different avenues of learning.
                    </li>
                    <li>
                        <b>Automotive Repair</b>. Being someone who likes to tinker to squeeze the most performance I can out of something, automotive repair and modifications have always been an interest of mine.
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h3 style="margin-top:0">Recent Projects</h3>
                <ul>
                    <li>
                        This website! With the help of some basic tutorials, I learned basic web development, and how to host a website using Google domains.
                    </li>
                    <li>
                        PLACEHOLDER TEXT
                    </li>
                </ul>
                <h3>Other Things</h3>
                <ul>
                    <li>
                        PLACEHOLDER TEXT
                    </li>
                    <li>
                        PLACEHOLDER TEXT
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>